.wrapper {
  min-height: 100vh;
  height: 100%;
}

.wrapper__navbar__footer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.wrapper__navbar__footer > * {
  grid-column: 1 / -1;
}
