:root {
  --primary-color: purple;
  --max-width: 1360px;
  --hero-width: 1920px;
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.wrapper__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.wrapper__navbar__footer > * {
  grid-column: 1 / -1;
}

.links--dom {
  text-decoration: none;
  color: black;
}

.loading__popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: inset 1px 1px 1px 1000px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
