.wrapper__footer {
  width: 100%;
  background-color: var(--black-400);
  padding-top: 2em;
}

.wrapper__footer i {
  color: var(--primary-color);
}

.wrapper__footer__container {
  width: 100%;
  max-width: var(--max-width);
  background-color: inherit;
  color: var(--primary-color);
  margin: 0 auto;
  min-height: 8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  color: var(--white-100);
  align-items: center;
  padding: 0 16px;
}

.wrapper__footer__container__logo {
  position: relative;
  height: 7em;
  width: 13em;
}

.wrapper__footer__container__logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.wrapper__footer__container__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
}

.wrapper__footer__container__contact > h5,
.wrapper__footer__container__location > h5 {
  color: var(--primary-color);
}

.wrapper__footer__container__contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.wrapper__footer__container__contact__info > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.4em;
  align-items: center;
}

.wrapper__footer__container__location {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
}

.wrapper__footer__container__location > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.4em;
  align-items: center;
}

@media (min-width: 740px) {
  .wrapper__footer__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    padding-left: 15vw;
    gap: 0.5em;
  }
  .wrapper__footer__container__contact{
    gap:1.5em
  }
  .wrapper__footer__container__location{
    gap:1.5em
  }
  .wrapper__footer__container__logo{
    width:100%
  }
}
