.navbar__container--before {
  position: relative;
  height: 3.5em;
  z-index: 150;
}

.navbar__container {
  position: fixed !important;
  width: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  height: 3.5em;
}

.navbar__container__links {
  gap: 1em;
}

.navbar__container__links
  > *:not(.navbar__container__links__login-register--btn) {
  text-decoration: none;
  color: black;
}

.navbar__container__links__login-register--btn {
  border: 2px solid var(--black-400);
  color: var(--black-400);
  border-radius: 2px;
  font-weight: 500;
  padding: 0.3em 0.6em;
  background-color: transparent;
}

/** Bootstrap over-riding */

#basic-nav-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7em;
  color: unset;
  padding: 0;
}

.profile--icon {
  align-self: center;
  font-size: 1.5rem;
}

#basic-navbar-nav {
  gap: 0.5em;
}

/*
Fucking with the bootstrap css config
*/
.nav-item.show.dropdown > .dropdown-menu.show {
  min-width: max-content;
  padding: 0 0.3em;
  width: 100%;
}

.nav-item.show.dropdown > .dropdown-menu.show > * {
  display: block;
}

.basic-navbar-nav__dropdown {
  margin-top: 0.2em;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.basic-navbar-nav__dropdown.navbar-collapse.collapse.show:nth-last-child() {
  padding-top: 0.5em;
}

.navbar__cart-length__container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
}

.navbar__cart-length__circle {
  padding: 0 0.5em;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.dropdown-menu.show {
  padding: 0.5em 0.2em 0.3em 0.2em !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}

.navbar__logout__btn {
  width: 100%;
  padding: 0.3em 0;
}

@media (min-width: 575px) {
  .basic-navbar-nav__dropdown {
    position: static;
  }
}
