.navbar__container--before {
  position: relative;
  height: 4rem;
  z-index: 150;
}

.navbar__container {
  position: fixed !important;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  height: 3.5rem;
}

.navbar__container__links {
  gap: 1rem;
}

.navbar__container__links > * {
  text-decoration: none;
  color: black;
}

/** Bootstrap over-riding */

#basic-nav-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}
.profile--icon {
  align-self: center;
  font-size: 1.5rem;
}

#basic-navbar-nav {
  gap: 0.5rem;
}
