.wrapper__container__products__cards {
  border-radius: 6px;
  display: flex;
  padding: 0.3em;
  background-image: linear-gradient(#35c2ae, #055247);
  flex-direction: column;
  align-items: center;
}

.products__container__cards__img__container {
  border-radius: 4px;
  width: 100%;
  height: 270px;
  position: relative;
  background-color: white;
}

.products__container__cards__img__container > img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.products__container__cards__img__container > p {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  padding: 0.4em;
  color: white;
  border-bottom-right-radius: 4px;
}

.products__container__cards__content > h4 {
  color: white;
  text-align: center;
}

.products__container__cards__content > p {
  color: white;
  text-overflow: ellipsis;
  height: 35px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
}
