.product-info__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 200;
  display: grid;
  place-items: center;
}

.product-info__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.product-info__container__product {
  border-radius: 16px;
  position: relative;
  display: flex;
  max-width: var(--max-width);
  align-items: center;
  flex-direction: column;
  padding: 0 0.5em 0.5em 0.5em;
  width: 75%;
  background-color: white;
  z-index: 10;
}

.product-info__img__container {
  position: relative;
  height:8em;
  width: 8.35em;
  overflow: hidden;
}

.product-info__img__container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.product-info__container__product__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4em;
}

.product-info__quantity__title{
  text-align: center;
}

.product-info__container__product__quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width:6em;
  height:3em;
  border:1px solid black;
  border-radius: 6px;
  padding-left:0.2em
}

.product-info__container__product__quantity__arrows{
  position:absolute;
  right:3px;
  top:0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.product-info__container__product__container__title {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.product-info__container__product__container__title > * {
  text-align: center;
}

.product-info__container__product__container__content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  place-items: center;
  gap:0;

}

.product-info__container__product__container__content__name{
  text-align: center;
  grid-column: 1 / -1;
}

@media(min-width:740px){
  .product-info__container__product{
    flex-direction: row;
    
  }
  .product-info__img__container{
    height:24em;
    width:70%;
  }
  .product-info__container__product {
    padding: 7em 0.5em;
    
  }
  .product-info__container__product__container__content{
    column-gap: 2em;
  }
}
