.email__verification__container {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: max-content;
  padding: 2em;
  z-index: 10;
}
