.wrapper__container__hero__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__container__hero__container > *:not(.wrapper__container__hero) {
  max-width: 1320px;
  margin: 0 auto;
}

.wrapper__container__hero {
  grid-column: 1 /-1;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
