.wrapper__container__hero__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__container__hero__container > *:not(.wrapper__container__hero) {
  max-width: var(--max-width);
  margin: 0 auto;
}

.wrapper__container__hero {
  grid-column: 1 /-1;
  width: 100%;
  max-width: var(--hero-width);
  margin: 0 auto;
}

.Carousel__caption__hero {
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.Carousel__caption__hero__title {
  font-size: 1.5em;
}

.wrapper__container__hompage__hot-sales {
  grid-column: 1 /-1;
  text-align: center;
}

.wrapper__container__hompage__hot-sales__title {
  padding: 1.8em 0;
}

.wrapper__container__homepage__hot-sales__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  place-content: center;
  width: 100%;
  grid-template-rows: auto;
  grid-gap: 2.5em;
  gap: 2.5em;
  grid-column: 1 /-1;
  max-width: var(--max-main-width);
  margin: 0 auto;
}

@media (min-width: 740px) {
  .Carousel__caption__hero {
    font-size: 1em;
  }
  .Carousel__caption__hero__title {
    font-size: 2em;
  }
}
