.wrapper__container__header {
  display: flex;
  justify-content: center;
  grid-column: 1 /-1;
}

.wrapper__container__products {
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 240px));
  grid-template-rows: auto;
  place-content: center;
  gap: 1em;
}
